@model ICollection<ImageDto>

@{

}


@if (Model?.Count > 0)
{
    @foreach (var item in Model)
    {
        <div>
            <div class="image_container-checkbox d-flex justify-content-center position-relative">
                <img src="@item.Url" style="height: 100%; width: auto;" />
            </div>
            <label>
                <button class="btn btn-sm btn-outline-primary" type="button" onclick="copyToClipboard('@item.Url')">Copy url</button>
            </label>
        </div>
    }
}
else
{
    <h6 class="alert alert-danger">Chưa có</h6>
}

@section Scripts{

       
    <script>
        function copyToClipboard(valueText) {

            window.prompt("Sao chép dịa chỉ ảnh nhấn : Ctrl+C, Enter", valueText);
        }
    </script>
    

}