
<div class="footer-post">

    <div class="footer-contact-post">
        <h2>
            Liên Hệ
        </h2>
        <ul>
            <li>
                <a class="btn btn-sm btn-primary" href="https://www.facebook.com/promises.no.353">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-sm btn-light text-danger" href="#">
                    <i class="bi bi-envelope"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-sm btn-danger" href="https://www.youtube.com/channel/UCQTPNreptu2oV1XSxOZnSsw">
                    <i class="bi bi-youtube"></i>
                </a>
            </li>
            <li>

                <a class="btn btn-sm btn-light text-black" href="https://github.com/viet15cm">
                    <i class="bi bi-github"></i>
                </a>
            </li>

        </ul>
        <p>
            Tư vấn và trả lời mọi vấn đề thắc mắc về lập trình 24/24
        </p>

    </div>

    <div class="footer-founder">
        <h5>
            <i class="bi bi-box-seam-fill"></i>  Nguyễn Quốc Việt
        </h5>
        <p>
            <i class="bi bi-c-circle"></i> Coppyright 2023 - Nguyễn Quốc Việt Blog - <a asp-area="" asp-action="index" asp-controller="Home">Home</a>
        </p>
    </div>


</div>