@inject IHttpContextAccessor iHttpContextAccessor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var theme = iHttpContextAccessor.HttpContext.Request.Cookies["theme"]?.ToString();
}

    <div class="bd-left">
        <aside class="bd-sidebar">
            @RenderSection("Sidebar", required: false)
        </aside>
    </div>
     
    <div class="bd-main">      
        @RenderBody()
    </div>

@section CSSBackroundSite{
        @if (theme == null || theme == "0")
        {
            <link id="site-theme" href="~/css/site.css" rel="stylesheet" />
            <link id="arduino-light-theme" href="~/highlight/styles/arduino-light.min.css" rel="stylesheet" />
        }
        else
        {
            <link id="site-theme" href="~/css/site-black.css" rel="stylesheet" />
            <link id="arduino-light-theme" href="~/highlight/styles/a11y-dark.min.css" rel="stylesheet" />
        }
}

@section FacebookSharedCategoryHead{
    @await RenderSectionAsync("FacebookSharedCategoryHead", required: false)
}

@section FacebookSharedHead{
    @await RenderSectionAsync("FacebookSharedHead", required: false)
}
@section BackroundSite {
    <li>
        <select id="theme" class="theme" name="theme">
            @if (theme == null || theme == "0")
            {
                <option selected value="0">&#9788;</option>
                <option value="1">&#9790;</option>
            }
            else
            {
                <option value="0">&#9788;</option>
                <option selected value="1">&#9790;</option>
            }
        </select>
    </li>
}

@section IconOffcanvasListPost {
    <div class="justify-content-end iconOffcanvasListPost">
        <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            <i class="bi bi-body-text"></i>
        </button>
    </div>
}

@section CategorySidebarSmall{
    <div style="z-index:9999999" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasScrollingLabel"></h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @RenderSection("SidebarSmall", required: false)
        </div>
    </div>
}

@section BoxListCategory {

    @await RenderSectionAsync("BoxListCategory", required: false)

}

@section CSSHighlight
{
    <link href="~/highlight/button/button.css" rel="stylesheet" />
}

@section highlight
{
    <script src="~/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="~/highlight/button/buttonhighlight.js"></script>
    <script src="~/js/theme.js"></script>
}

@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
}
