@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="bd-left">
        <aside class="bd-sidebar">
            @RenderSection("Sidebar", required: false)
        </aside>
    </div>
     
    <div class="bd-main">
       
        @RenderBody()
    </div>


@section BoxListCategory {

    @await RenderSectionAsync("BoxListCategory", required: false)

}

@section CSSHighlight
{
    <link href="~/highlight/button/button.css" rel="stylesheet" />
}

@section highlight
{
    <script src="~/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="~/highlight/button/buttonhighlight.js"></script>
    <script src="~/js/theme.js"></script>
}

@await RenderSectionAsync("Scripts", required: false)