@using Domain.IdentityModel;
@using static ProjectWebNotes.Controllers.HomeController;
@model IEnumerable<Category>

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewData["Title"] = "Home";
    var admin = ViewData["administrator"] as Administrator;
    var posts = ViewData["posts"] as PagedList<PostSlugCategoryDto>;

    var name = "";

    if (admin != null)
    {
        name = admin.LastName + " " + admin.FirstName;
    }


}

<div class="main-body-content">
    <div class="banner">
        
        <div class="banner-avarta">
            @if (admin != null)
            {
                <img src="~/ImageManager/Avatar/@admin.UrlImage" class="rounded-circle mb-3" style="width: 150px;"
                 alt="Avatar" />
            }

            <h5 class="mb-2"><strong>@name </strong></h5>
            <p class="text-muted">
                @if (admin != null)
                {
                    @admin.RoleName
                } <span class="badge bg-primary">PRO</span></p>
        </div>
    </div>
   <div class="run-source">
        <p>Website ASP.NET Core runtime version 7.0.1</p>
   </div>
    <div class="icon-contact-service">
        <ul>
            <li>
                <a class="btn btn-sm btn-primary" href="#">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-sm btn-light text-danger" href="#">
                    <i class="bi bi-envelope"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-sm btn-danger" href="#">
                    <i class="bi bi-youtube"></i>
                </a>
            </li>
            <li>

                <a class="btn btn-sm btn-light text-black" href="#">
                    <i class="bi bi-github"></i>
                </a>
            </li>

        </ul>
    </div>
    @if (Model != null)
    {
        @await Component.InvokeAsync("ViewListCategory", Model)
    }
 
    <div class="introduce">
        <div id="newpost" class="new-post">
            <div class="new-post-title">
                <h6>Bài Viết Mới Nhất</h6>
            </div>
            <div class="new-post-body">
                @if (posts != null)
                {
                    @await Html.PartialAsync("_PostNewPartial", posts)
                }
            
            </div>
        </div>
        <div class="commercial">
            <img src="~/commercial/dotnet-core-banner.png" />
            @*<img src="~/commercial/commercial.png" />*@
        </div>
 
    </div>

   

</div>


@section BoxListCategory {
    @await Component.InvokeAsync(BoxListCategory.COMPONENTNAME, Model)

}
@section Scripts{
    <script>

        function getPaging(valueText) {

            var numberpage = valueText;
            $.ajax({
                url: "/Home/NewPostPartial",
                contentType: 'application/html; charset=utf-8',
                data: { "PageNumber": numberpage },
                type: 'GET',
                dataType: 'html',
                success: function (response) {
                    debugger

                    $("#newpost").find(".new-post-body").html(response);
                },
                error: function (response) {
                    debugger
                    alert(response);
                }
            });
        }

        $(document).ready(function () {

            //$("ul.pagination").on("click", "li", function () {

            //    debugger
            //    var numberpage = $(this).attr("value");

            //    $.ajax({
            //        url: "/Home/NewPostPartial",
            //        contentType: 'application/html; charset=utf-8',
            //        data: { "PageNumber": numberpage },
            //        type: 'GET',
            //        dataType: 'html',
            //        success: function (response) {
            //            debugger

            //            $("#newpost").find(".new-post-body").html(response);
            //        },
            //        error: function (response) {
            //            debugger
            //            alert(response);
            //        }
            //    });



            //});

            //let x = document.getElementById('pagination').getElementsByTagName('li');

            //for (let i = 0; i < x.length; i++) {

            //    x[i].onclick = function () {
            //        var numberpage = this.value;
            //        $.ajax({
            //            url: "/Home/NewPostPartial",
            //            contentType: 'application/html; charset=utf-8',
            //            data: { "PageNumber": numberpage },
            //            type: 'GET',
            //            dataType: 'html',
            //            success: function (response) {
            //                debugger

            //                $("#newpost").find(".new-post-body").html(response);
            //            },
            //            error: function (response) {
            //                debugger
            //                alert(response);
            //            }
            //        });

            //    };
            //}

         
        });


    </script>
}

