@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var resultAuthorization = await authorizationService.AuthorizeAsync(this.User, "Employee");
}

@if (resultAuthorization.Succeeded)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="categorymanager" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Danh mục
        </a>
        <ul class="dropdown-menu" aria-labelledby="categorymanager">
            <li><a class="dropdown-item" asp-area="Manager" asp-controller="Category" asp-action="index">Danh mục</a></li>
            <li><a class="dropdown-item" asp-area="Manager" asp-controller="Post" asp-action="index">Bài viết</a></li>
        </ul>
    </li>

}