@inject IHttpContextAccessor iHttpContextAccessor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var theme = iHttpContextAccessor.HttpContext.Request.Cookies["theme"]?.ToString();
}
@RenderBody()

@section CSSBackroundSite{

    @if (theme == null || theme == "0")
    {
        <link id="site-theme" href="~/css/site.css" rel="stylesheet" />
     
    }
    else
    {
        <link id="site-theme" href="~/css/site-black.css" rel="stylesheet" />
        
    }
}
@section BackroundSite {
    <li>
        <select id="theme" class="theme" name="theme">
            @if (theme == null || theme == "0")
            {
                <option selected value="0">&#9788;</option>
                <option value="1">&#9790;</option>
            }
            else
            {
                <option value="0">&#9788;</option>
                <option selected value="1">&#9790;</option>
            }
        </select>
    </li>
}

@section BoxListCategory {

    @await RenderSectionAsync("BoxListCategory", required: false)

}

@section highlight{

   
    <script src="~/js/theme.js"></script>
}