<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @await RenderSectionAsync("FacebookSharedHead", required: false)
    @await RenderSectionAsync("FacebookSharedCategoryHead", required: false)
    <title>@ViewData["Title"] - Viet IT</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/shortcut-icon/icon-shortcut-avartar.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link href="~/css/home.css" rel="stylesheet" />
    @await RenderSectionAsync("CSSImageManager", required: false)
    @await RenderSectionAsync("CSSHighlight", required: false)
    @await RenderSectionAsync("CSSBackroundSite", required: false)
    <link rel="stylesheet" href="~/ProjectWebNotes.styles.css" asp-append-version="true" />

     
</head>
<body>
    <header>
        <nav class="navbar navbar-header navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                @await RenderSectionAsync("IconOffcanvasListPost", required: false)
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Việt IT</a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Thông tin</a>
                        </li>

                        @await RenderSectionAsync("BoxListCategory", required: false)
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        @await Html.PartialAsync("_FunctionPartial")

                        @await Html.PartialAsync("_LoginPartial")

                        @await RenderSectionAsync("BackroundSite", required: false)
                        
                    </ul>
                   
                </div>
            </div>
        </nav>
        @await RenderSectionAsync("CategorySidebarSmall", required: false)
        <div style="z-index:9999999" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasScrollingLabel"><i class="bi bi-menu-button-fill"></i> Menu</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                dsfkjathj
            </div>
        </div>
    </header>
    <div class="fill-space"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Web Viet IT ASP.NET Core version 7.0 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    @await RenderSectionAsync("highlight", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
