@using Domain.IdentityModel;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject UserManager<AppUser> userManager
@inject SignInManager<AppUser> signInManager
@inject IAuthorizationService authorizationService

@{

    string avatar = null;
    @if (signInManager.IsSignedIn(User))
    {
        var appUser = await userManager.GetUserAsync(User);

        avatar = appUser.UrlImage;
    }

    var resultAuthorization = await authorizationService.AuthorizeAsync(this.User, "Admin");
}


@if (signInManager.IsSignedIn(User))
{
     if (resultAuthorization.Succeeded)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="manager" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manager
            </a>
            <ul class="dropdown-menu" aria-labelledby="manager">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/User/index">User</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Role/index">Role</a></li>   
            </ul>
        </li>
       
    }

    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="UserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @if (avatar != null)
            {

                <img class="rounded-circle" id="indexImg" src="~/ImageManager/Avatar/@avatar" style="width: 20px; height: 20px" />

            }

            else
            {
                <i class="bi bi-person-circle"></i>
            }
        </a>


        <ul class="dropdown-menu" aria-labelledby="UserDropdown">
            <li><a class="dropdown-item btn btn-default" asp-area="Identity" asp-page="/Account/Manager/Index"><i class="bi bi-person-circle"></i> Người dùng</a></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <button class="dropdown-item" type="submit"><i class="bi bi-box-arrow-right"></i> Logout</button>
                </form>
            </li>
        </ul>
    </li>

}
else
{
    <li><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        <li><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
}