@model Category
@{
    var categorys = ViewData["categorys"] as IEnumerable<Category>;
}

<div class="main-content">
    <h1>
        @Model.Title
    </h1>
    
</div>

<div class="rank-content">
    <h1>content</h1>
</div>

@section Sidebar {
    @await Component.InvokeAsync(CategorySidebar.COMPONENTNAME,
             new CategorySidebar.CategorySidebarData()
             {
                 slugCategory = ViewBag.slugCategory,
                 listSerialUrl = ViewBag.listSerialUrl,
                 slugPost = ViewBag.slugPost,
                 currentCategory = ViewBag.currentCategory,
                 listPostInCategory = ViewBag.listPostInCategory,

             })

}

@section BoxListCategory {
    @await Component.InvokeAsync(BoxListCategory.COMPONENTNAME, categorys)
}