@model Category
@{
    var categorys = ViewData["categorys"] as IEnumerable<Category>;
}

@{

}
<h1>Hemo</h1>

@section Sidebar {
    @await Component.InvokeAsync(CategorySidebar.COMPONENTNAME,
             new CategorySidebar.CategorySidebarData()
             {
                 slugCategory = ViewBag.slugCategory,
                 listSerialUrl = ViewBag.listSerialUrl,
                 slugPost = ViewBag.slugPost,
                 currentCategory = ViewBag.currentCategory,
                 listPostInCategory = ViewBag.listPostInCategory,

             })

}

@section BoxListCategory {
    @await Component.InvokeAsync(BoxListCategory.COMPONENTNAME, categorys)
}