@{
    ViewData["Title"] = "Xóa bộ nhớ cache";
    var statusMessage = TempData["StatusMessage"] as string;
}

<div class="container mt-5">
    <partial name="_MessageBoxPartial" model="@statusMessage" />
            <h2>@ViewBag.Title</h2>
            <form method="post" asp-action="Delete">

                <dl>
                    <dt>
                       1. Đối tượng cahe 
                    </dt>

                    <dd>
                       Danh sách danh mục
                    </dd>
                    <dt>
                       2. Đối tượng cahe 
                    </dt>

                    <dd>
                       Thông tin
                    </dd>
                   
                </dl>

                <p>
                    <button type="submit" class="btn btn-sm btn-danger">Xóa</button> |
                    @Html.ActionLink("Quay trở lại trang chủ", "Index")
                </p>
            </form>
</div>