html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    scroll-padding-top: 60px;
}

.navbar-header {
    /* background-color: #5f7d95; */

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.fill-space {
    height: 50px;
    margin: auto;
    text-align: center;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.theme {
    margin-top: 7px;
   
    border: none;
}


dt,
dd {
    display: inline-block;
    width: calc(50% - 0.5rem);
    margin: 0;
    margin-bottom: 10px;
}

dt {
    text-align: right;
}

    dt::after {
        content: "|";
    }

body {
    margin-bottom: 60px;
    background: black;
    color: white;
}

/*ImageAvartar*/

.personal-image {
    text-align: center;
}

    .personal-image input[type="file"] {
        display: none;
    }

.personal-figure {
    position: relative;
    width: 300px;
    height: 100%;
}

.personal-avatar {
    cursor: pointer;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    /* border-radius: 100%;*/
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}

    .personal-avatar:hover {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    }

.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    opacity: 1;
    transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
    background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption > img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}

/*from login*/

.form-login {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.box-category {
    width: 400px;
    padding: 10px;
}

.instruct-category ul li {
    list-style: none;
}

/*category-home*/



.main-body-content {
    float: left;
    padding-bottom: 100px;
    width: 100%;
}

.icon-contact-service {
    width: 5%;
   
    float: left;
}

.icon-contact-service ul {
    margin: auto;
    padding: 0px;
    margin: 0px;
}

    .icon-contact-service ul li {
        list-style: none;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
    }

.introduce {
    width: 62%;
    background-size: 100%;
    text-align: center;
    font-family: Bahnschrift;
    position: relative;
    background-repeat: no-repeat;
    float: right;
}

.list-category-left {
    float: left;
    width: 30%;
    box-shadow: #ffffff 0px 0px 10px;
    box-sizing: inherit;
    box-sizing: inherit;
    line-height: 1.6em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.banner {
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px;
    box-sizing: inherit;
    padding: 20px;
    width: 100%;
    background-image: url(/Img/banner-c-sharp.jpg);
    margin: auto;
    margin-top: 7px;
    margin-bottom: 20px;
    background-position: center;
    min-height: 320px;
}

.banner-avarta {
    float: right;
    margin-top: 20px;
}

.main-body-content-child {
    padding: 10px;
    border-bottom: 10px solid white;
}


    .main-body-content-child li {
    }

    .main-body-content-child span {
    }

.icon-category {
    font-size: 35px;
}


.main-body-content-child li a {
    text-decoration: none;
    color: white;
}

.icon-star {
    float: right;
}

.count-post-category {
    margin-right: 0px;
}

/*categorysidbar*/

.bd-left {
    width: 20%;
    float: left;
    padding-bottom: 35px;
    padding: 10px 0px 50px 0px;
}

.bd-sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    
}

.bd-main {
    width: 80%;
    float: left;
    position: relative;
}


.main-content {
    width: 80%;
    float: left;
    padding: 0px 10px 20px 10px;
  
}

.main-content-title {
    margin-top: 15px;
    color: #ffa07a;
}
.font-size-prarent-post {
    font-size: 30px;
}

.font-size-child-post-0 {
    font-size: 26px;
}

.font-size-child-post-1 {
    font-size: 23px;
}

.font-size-child-post-2 {
    font-size: 20px;
}


.rank-content {
    width: 20%;
    float: right;
    border-right: 1px solid #000000;
    padding-top: 10px;
    padding-top: 60px;
    width: 20%;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.rank-content-title li {
    list-style: none;
}

.rank-content-title li a {
    text-decoration: none;
    color:  #ffa07a;
}

#TableOfContents ul {
    margin-top: 12px;
}

#TableOfContents ul li {
   margin-bottom: 8px;
   list-style: none;

}

#TableOfContents ul li a {
    text-decoration: none;
    color: white;

}

.title-category-content {
    font-size: 18px;
    margin: auto;
    margin-left: 0px;
    font-weight: 700;
    text-decoration: none;
    color: #ffa07a;
    
}

.mycollapse {
    display: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.myshow {
    display: block;
}

.parent-size-text-post {
    text-decoration: none;
    
}

.child-size-text-post {
    text-decoration: none;
   
    
}

.categorysidebar-title-post {
    padding-bottom: 10px;
    font-size: 17px;
   
}



.badge {

    display: inline-block;
    padding: 0.35em 0.65em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;

}

.badge-category {
    font-size: 30px;
    color: #ffa07a;
}

.tree-icon-mycollapse {
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    padding-right: 7px;
    padding-left: 0px;
}

.tree-icon-mycollapse span::after {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    content: '\F234';
    font-family: 'Bootstrap-icons';
}

.tree-icon-mycollapse span:hover {
    color: #245ce6;
}

.tree-icon-mycollapse .myactive::after {
    content: "\F229";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-family: 'Bootstrap-icons';
}

.categorysidebar-menu-post a {
    color: #F5F5F5;
}

.db-toc::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.db-toc::-webkit-scrollbar-thumb {
    background-color: #808080;
}

.bd-sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.bd-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

/*frame-code*/

.box-shadow-frame-code{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.title-frame-code {
    padding-top: 3px;
    color: black;
    font-weight: 500;
}

.footer {
}



@media (max-width: 1000px) {
    .main-body-content-child {
        width: 45%;
    }
}

@media (max-width: 800px) {

    .main-body-content-child {
        width: 100%;
    }

    .list-category-left {
        width: 100%;
        float: none;
        padding: 0px;
    }

    .icon-contact-service {
        width: 100%;
        float: none;
        min-height: 50px;
    }

    .main-body-content-child {
        width: 100%;
    }


    .icon-contact-service ul li {
        float: left;
        margin-right: 10px;
    }

    .banner {
        margin-top: 20px;
        width: 100%;
        float: none;
       
    }
   
}


@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
    }

    .box-category {
        width: 100%;
    }

    .main-body-content-child {
        width: 95%;
    }
}

