html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    scroll-padding-top: 60px;
}

.navbar-header {
    /* background-color: #5f7d95; */

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.navbar-brand {
    font-family: cursive;
    font-weight: 700;
}

.fill-space {
    height: 50px;
    margin: auto;
    text-align: center;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.theme {
    margin-top: 7px;
   
    border: none;
}


dt,
dd {
    display: inline-block;
    width: calc(50% - 0.5rem);
    margin: 0;
    margin-bottom: 10px;
}

dt {
    text-align: right;
}

    dt::after {
        content: "|";
    }

body {
    margin-bottom: 60px;
    background: #212529;
    color: white;
}

/*ImageAvartar*/

.personal-image {
    text-align: center;
}

.personal-image input[type="file"] {
    display: none;
}

.personal-figure {
    position: relative;
    width: 300px;
    height: 100%;
}

.personal-avatar {
    cursor: pointer;
    width: 300px;
    height: auto;
    box-sizing: border-box;
    /* border-radius: 100%;*/
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
}

.personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    opacity: 1;
    transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
    background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption > img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}

/*dropdow*/
/*dropdow*/
.dropbtn {
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

/*from login*/

.form-login {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.box-category li a {
    text-decoration: none;
    font-weight: 500;

    color: black;
}

.box-category span {
    color: black;
}

.box-category ul li a {
    font-weight: 400;
}

.box-category li {
    margin-top: 10px;
}

.box-category {
    width: 400px;
    padding: 10px;  
    height: 300px;
    overflow-y: auto;
}

.instruct-category ul li {
    list-style: none;
}

/*category-home*/



.main-body-content {
    float: left;
    padding-bottom: 100px;
    width: 100%;
}

.icon-contact-service {
    width: 5%;
    float: left;
    border-top: 1px solid white;
    padding-top: 5px;
}

.icon-contact-service ul {
    margin: auto;
    margin: 0px;
    padding: 0px;
}

.icon-contact-service ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.introduce {
    width: 62%;
    float: right;
   
    min-height: 200px;
}
.new-post {
    width: 70%;
    border: 1px solid white;
    float: left;
    
}

.new-post-title {
    background: white;
    color: black;
    border: 1px solid white;
    padding: 10px;
}

.new-post-body ul li {
    line-height: 170%;
    margin-top: 0.5em;
}

.new-post-body ul li a {
    color: #6cd3ea;
    text-decoration: none;
    font-weight: 500;
    display: block;
}

.date {
    font-style: oblique;
}

/*commercial quang cao*/

.commercial {
    width: 30%;
    padding: 5px;
    float: right;
    
}

.commercial img {
    width: 100%;
    height: auto;
}


.list-category-left {
    float: left;
    width: 30%;
    /*box-shadow: #ffffff 0px 0px 10px;
    box-sizing: inherit;
    box-sizing: inherit;
    line-height: 1.6em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);*/
    border: 1px solid white;
   
}

.banner {
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px;
    box-sizing: inherit;
   
    width: 100%;
    background-image: url(/Img/banner-c-sharp.jpg);
    margin: auto;
    margin-top: 7px;
    margin-bottom: 20px;
    background-position: center;
    min-height: 320px;
}

.banner-avarta {
    float: right;
    margin : 30px 30px 0px 0px;
}

.main-body-content-child {
    padding: 10px;
   
}


.main-body-content-child li {
}

.main-body-content-child span {
    
}

.icon-category {
    font-size: 30px;
    color: #9eaa33;
}


.main-body-content-child li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/*.icon-star {
    float: right;
    color: #9eaa33;
    margin : 0px;
    padding: 0px;
}*/

.count-post-category {
    position: absolute;
    color : #9eaa33;
    font-weight: 500;
    right: -10px;
    top: 0px;
}

/*categorysidbar*/

.bd-left {
    width: 20%;
    float: left;
    padding-bottom: 35px;
    padding: 10px 0px 10px 0px;
    border: 1px solid white;
    border-top: none;
    margin: 0px 0px 60px 0px;
}

.bd-sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    
}
.iconOffcanvasListPost {
    margin-right: 10px;
    display: none;
}


.bd-main {
    width: 80%;
    float: left;
   
    margin-bottom: 50px;
}


.main-content {
    width: 80%;
    float: left;
    padding: 0px 10px 20px 10px;
  
}

.main-content-introduce{
    width: 100%;
    height: 30px;
    color: #F5F5F5;  
}

.main-content-introduce p{
   margin-top: 20px;
   float: right;
   font-style: oblique;
}

.main-content-title {
    margin-top: 15px;
    color: #fba056;    
    font-style: oblique;
}
.font-size-prarent-post {
    font-size: 30px;
}

.font-size-child-post-0 {
    font-size: 26px;
}

.font-size-child-post-1 {
    font-size: 23px;
}

.font-size-child-post-2 {
    font-size: 20px;
}


.rank-content {
    width: 20%;
    float: right;
   
    padding-top: 10px;
    padding-top: 60px;
    width: 20%;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.rank-content-title-small p a {
    display: block;
    background: rgba(0, 0, 0, .05);
    border: 2px solid white;
    font-size: 16px;
    color: white;
    font-weight: 600;
    
}

.rank-content-title-small ul {
    margin-top: 12px;
}

.rank-content-title-small ul li {
    margin-bottom: 8px;
     margin-bottom: 5px;
     padding: 3px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.rank-content-title-small ul li a {
    text-decoration: none;
    color: dimgrey;
    font-weight: 500;
    display: block;
    
}


.rank-content-title-small p a:is(:hover){
    color: #ffa07a;
}

.rank-content-title-small {
    display: none;
}



.rank-content-title li {
    list-style: none;
   
}

.rank-content-title li a {
    text-decoration: none;
    color:  #fba056;
}

#TableOfContents ul {
    margin-top: 12px;
}

#TableOfContents ul li {
   margin-bottom: 8px;
   list-style: none;

}

#TableOfContents ul li a {
    text-decoration: none;
    color: white;

}

.title-category-content {
    font-size: 18px;
    margin: auto;
    margin-left: 0px;
    font-weight: 700;
    text-decoration: none;
    color: #fba056;
    
}

.mycollapse {
    display: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.myshow {
    display: block;
}

.parent-size-text-post {
    text-decoration: none;
    
}

.child-size-text-post {
    text-decoration: none;
   
    
}

.categorysidebar-title-post {
    padding-bottom: 10px;
    font-size: 17px;
   
}



.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    
}

.badge-category {
    font-size: 30px;
    color: #fba056;
   
}

.tree-icon-mycollapse {
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    padding-right: 7px;
    padding-left: 0px;
}

.tree-icon-mycollapse span::after {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    content: '\F234';
    font-family: 'Bootstrap-icons';
}

.tree-icon-mycollapse span:hover {
    color: #245ce6;
}

.tree-icon-mycollapse .myactive::after {
    content: "\F229";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-family: 'Bootstrap-icons';
}

.categorysidebar-menu-post a {
    color: #F5F5F5;
}

.db-toc::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.db-toc::-webkit-scrollbar-thumb {
    background-color: #808080;
}

.bd-sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.bd-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}
.offcanvas-body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 50px;
}

.offcanvas-header {
    height: 50px;
    border-bottom: 1px solid #000000;
}

/*frame-code*/

.box-shadow-frame-code{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.title-frame-code {
    padding-top: 3px;
    color: black;
    font-weight: 500;
}

.footer {
}



@media (max-width: 1000px) {

    
    .iconOffcanvasListPost {
        display: inline;
    }
    .categorysidebar-menu-post a {
        color: #000000;
       
    }
   
    .main-body-content-child {
        width: 45%;
    }
    .bd-main {
        width: 100%
    }

    .bd-left {
        display: none;
    }
}

@media (max-width: 900px) {

    .commercial {
        width: 100%;
        float: none;
        
    }
    .commercial img{
        display: none;
    }
    .new-post {
        padding-top: 10px;
        width: 100%;
        float: none
    }
   
    .categorysidebar-menu-post a {
        color: #000000;
        font-size: 14px;
    }
    .rank-content-title-small{
        display: inline;
    }
    .main-content {
        float: none;
        width: 100%;
    }

    .rank-content {
        display: none;
    }
    .main-body-content-child {
        width: 100%;
    }

    .font-size-prarent-post {
        font-size: 26px;
    }

    .font-size-child-post-0 {
        font-size: 23px;
    }

    .font-size-child-post-1 {
        font-size: 21px;
    }

    .font-size-child-post-2 {
        font-size: 19px;
    }

    .list-category-left {
        width: 100%;
        float: none;
        padding: 0px;
    }

    .icon-contact-service {
        width: 100%;
        float: none;
        min-height: 50px;
    }

    .main-body-content-child {
        width: 100%;
    }


    .icon-contact-service ul li {
        float: left;
        margin-right: 10px;
    }

    .banner {
        margin-top: 20px;
        width: 100%;
        float: none;
       
    }
    .introduce {
        width: 100%;
        float: none;
    }
   
}


@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {

    
    .banner-avarta {
        float: right;
        margin-top: 20px;
        margin-right: 0px;
    }
    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
    }

    .box-category {
        width: 100%;
    }

    .main-body-content-child {
        width: 95%;
    }

    .font-size-prarent-post {
        font-size: 25px;
    }

    .font-size-child-post-0 {
        font-size: 23px;
    }

    .font-size-child-post-1 {
        font-size: 21px;
    }

    .font-size-child-post-2 {
        font-size: 19px;
    }
}
